@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@600&display=swap');

:root {
    --background: #1D263B;
    --menu-background: #5C6784;
    --menu-font-size: 60px;
    --message-background: rgb(53, 63, 63);
    --box-shadow: rgba(243, 243, 243, 0.527) 0px 0px 30px;
    --sidebar-width: 20vw;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}


body {
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    overflow-y: hidden;
    background: var(--background);
    font-family: 'Comfortaa', cursive;
    color: white;
}

img {
    user-select: none;
    pointer-events: none;
}

#game {
    display: none;
    /* display: flex; */
    justify-content: space-between;
}

#game-area {
    background-color: var(--background);
    max-width: 70vw;
    height: 90vh;
    overflow: hidden;
    display: flex;
    justify-content: space-around;
    align-self: center;
    box-shadow: var(--box-shadow);
    border-radius: 30px;
}

#game-area .col {
    max-width: 9vw;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-around;
    margin: 0 0.5vw;
}

#game-area .col:hover {
    background-color: rgb(66, 66, 66);
    cursor: pointer;
}

button {
    background: none;
    border: none;
    cursor: pointer;
}

#menu {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    background-color: var(--menu-background);
    padding: 10px;
}

#menu button {
    font-size: calc(var(--menu-font-size) - 15px);
    color: white;
}

#menu button img {
    cursor: default;
    width: var(--menu-font-size);
}

#game-area .col .row {
    margin: 0 0.5vw;
}

#game-area .col .row img {
    max-height: 10vh;
    max-width: 7.5vw;
    user-select: none;
    border-radius: 10vw;
    border: 3px solid #8460f1;
}

#game-area .col .row.full img {
    border: 0;
}

#game-info {
    min-width: var(--sidebar-width);
    height: 100vh;
    color: white;
    display: flex;
    flex-direction: column;
}


.game-score,
.players-info,
.moves-info {
    margin-top: 40px;
}

.game-score {
    text-align: center;
    font-size: 50px;
}

.players-info {
    font-size: 50px;
}

.player-info:nth-child(2) {
    margin-top: 20px;
}

.player-info span {
    font-size: 35px;
    display: inline;
}

.player-info img {
    max-width: 40px;
}

.moves-info {
    text-align: center;
    max-height: 65vh;
    overflow-y: scroll;
}

.moves-info>span {
    font-size: 30px;
}

.moves-info table {
    text-align: center;
    width: var(--sidebar-width);
}

.move-buttons {
    display: flex;
    justify-content: space-around;
}

.move-buttons button {
    color: white;
}

td.move {
    cursor: pointer;
}

td.move:hover {
    text-decoration: underline;
}

.displayed-move {
    text-decoration: underline;
}

#message-snackbar {
    color: white;
    visibility: hidden;
    position: absolute;
    text-align: center;
    min-width: 500px !important;
    top: 100px;
    left: calc(50vw - 250px);
    background-color: var(--message-background);
    padding: 20px 20px;
    z-index: 2;
    box-shadow: var(--box-shadow);
    border-radius: 10px;
}

#message-snackbar.showed {
    visibility: visible;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

#header {
    position: absolute;
    margin: auto;
    width: 800px;
    left: calc(50vw - 400px);
    top: 5vh;
    text-align: center;
}

#usernames-input {
    display: flex;
    position: relative;
    top: 30vh;
    justify-content: space-around;
}

.username-input {
    text-align: center;
}

.username-input input {
    padding: 10px;
    font-size: 20px;
    font-family: 'Comfortaa';
    border-radius: 5px;
}

.username-input input:focus {
    border: 3px solid #8460f1;
}

.username-input input:disabled {
    border: 0;
    cursor: not-allowed;
}

.username-input .switcher {
    display: flex;
    align-items: center;
    justify-content: center;
}

.username-input .switcher i {
    font-size: 40px;
    margin-right: 20px;
}

.username-input label {
    background-color: var(--menu-background);
    width: 60px;
    height: 35px;
    padding: 5px;
    display: flex;
    align-items: center;
    position: relative;
    cursor: pointer;
    border-radius: 20px;
}

.username-input label .slider {
    width: 25px;
    height: 25px;
    background-color: white;
    transition: .2s;
    border-radius: 200px;
}

/* nějaká magie */
.username-input label input:checked+.slider {
    transform: translateX(25px);
}

.username-input label:has(input:checked) {
    background-color: #8460f1;
}

.username-input label input {
    display: none;
}

#start-button {
    position: absolute;
    top: 200px;
    background: #8460f1;
    color: white;
    border-radius: 20vw;
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 110px;
    aspect-ratio: 1 / 1;
    transition: .2s;
}

#start-button:hover {
    background: #5c39c4;
    font-size: 45px;
}

.bottom-options {
    width: 30vw;
    left: 35vw;
    display: flex;
    justify-content: space-around;
    position: relative;
    top: calc(30vh + 320px);
}

.bottom-option button {
    font-size: 40px;
    color: white;
    padding: 10px;
}

.bottom-option button:hover {
    font-size: 60px;
    transition: .2s;
    padding: 0;
}

#copyright {
    position: absolute;
    bottom: 30px;
    right: 30px;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fadein {
    from {
        top: 0;
        opacity: 0;
    }

    to {
        top: 100px;
        opacity: 1;
    }
}

@keyframes fadeout {
    from {
        top: 100px;
        opacity: 1;
    }

    to {
        top: 0;
        opacity: 0;
    }
}